.custom-input {
    border: 1px solid #FF0079;
    width:300px;
    border-radius: 5px;
    margin-top: 5px;
    height: 35px;

}

.custom-input:focus {
    border: 2px solid #96004c;
    outline: none;
}



.block1{
    font-family: Ubuntu;
    color: #1e2125;
    font-size: 24px;
    height: 600px;
    display: flex;
    justify-content: left;
    align-items: center;
}

.h{
    font-family: Manrope;
    color: #C7357A;
    font-size: 54px;
    padding-left: 90px;
}

.home{
    font-size: 28px;
    color: #ffffff;
    padding-left: 90px;

}

.vhod {
   border-color: #C7357A;
    border-radius: 12px;
    padding: 0.3rem 1rem 0.3rem 1rem;
    color: #C7357A ;
    background-color: white;
    transition: .2s ease-in-out;
}

.vhod:hover{
    background-color:#C7357A ;
    color: white;
}


html {
    font-family: "Ubuntu";
}

body {
    font-family: "Ubuntu";
}

.register-button {
    font-family: "Ubuntu";
    background-color: black ;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 14px 74px;
    font-size: 18px;
    cursor: pointer;
    margin-top: 35px;
}

.register-button:hover {
    background-color: #313131;
}

.register-button:disabled {
    background-color: lightgray;
    cursor: not-allowed;
}

.center {
    display: flex;
    justify-content: center; /* По горизонтали */
    align-items: center; /* По вертикали */
    height: 10vh; /* Задаем высоту родительского элемента */
}

.errorMessage {
    font-family: "Ubuntu";
    font-size: 12px;
    color: red;
}

.auth {
    font-family: "Ubuntu";
    color: #C7357A;
    background-color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 30px;
}

.auth:hover {
    color: #FF0079;
}

.input {
    font-family: "Ubuntu";
    margin-top: 5px;
}
.registration {
    font-size: 40px;
    color: black;
    margin-top: 5px;
}

.table {
    width: 100%;
    border: none;
    margin-bottom: 20px;
    border-collapse: separate;
}
.table thead th {
    font-weight: bold;
    text-align: left;
    border: none;
    padding: 10px 15px;
    background: #EDEDED;
    font-size: 14px;
    border-top: 1px solid #ddd;
}
.table tr th:first-child, .table tr td:first-child {
    border-left: 1px solid #ddd;
}
.table tr th:last-child, .table tr td:last-child {
    border-right: 1px solid #ddd;
}
.table thead tr th:first-child {
    border-radius: 20px 0 0 0;
}
.table thead tr th:last-child {
    border-radius: 0 20px 0 0;
}
.table tbody td {
    text-align: left;
    border: none;
    padding: 10px 15px;
    font-size: 14px;
    vertical-align: top;
}
.table tbody tr:nth-child(even) {
    background: #F8F8F8;
}
.table tbody tr:last-child td{
    border-bottom: 1px solid #ddd;
}
.table tbody tr:last-child td:first-child {
    border-radius: 0 0 0 20px;
}
.table tbody tr:last-child td:last-child {
    border-radius: 0 0 20px 0;
}

.form {
    margin-top: 20px;
}

.auth_1{
    font-size: 40px;
    color: black;
    margin-top: 15px;
}


.catalogue {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.product-card {
    width: 267px;
    margin: 8px;
    border: 2px solid #C7357A;
    border-radius: 12px;
    height: 350px;
    position: relative;
    margin-top: 40px;
}

.product-card img {
    width: 100%;
    height: 230px;
    object-fit: cover;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.product-info {
    padding: 5px;
}

.product-info h4 {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 20px;
    font-weight: bold;
    font-family: Manrope;
    margin: 7px;
    color: black;
}

.product-info p {
    font-size: 20px;
    font-family: Ubuntu;
    margin: 7px;
    position: absolute;
    bottom: 2%;


}

.pay {
    display: block;
    margin: 10px auto;
    padding: 10px 20px;
    background-color: #C7357A;
    color: #fff;
    border: none;
    border-radius: 12px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    position: absolute;
    bottom: 0;
    right: 5%;
}

.pay:hover {
    background-color: #FF0079;
}


.block2{
    padding-top: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.block2 h2{
    text-align: center;
    font-size: 40px;
    font-family: Manrope;
    color: black;
}

.block2 p{
    text-align: center;
    font-size: 24px;
    color: black;
}

.clients{
    font-family: Manrope;
    font-size: 40px;
    color: black;
    font-weight: bold;
    margin-top: -430px;

}

.title{
    font-size: 28px;
    color: black;
    font-weight: normal;
    margin-top: -250px;
}

.catalog{
    font-size: 54px;
    font-family: Manrope;
    color: black;
    text-align: center;
    font-weight: bold;
}

.block3{
    display: flex;
    background-color: #FFE9E9;
    border-radius: 20px;
    justify-content: space-around;
    padding: 3% 0 3% 3%;
    margin: 4% 7% 2% 7%;
}

.block3 p{
    color: black;
    font-size: 22px;
}

.block3 h1{
    color: black;
    font-size: 48px;
    font-family: Manrope;
}


.detailed{
    background-color: black;
    border-radius: 20px;
    color: white;
    margin: 10px auto;
    padding: 10px 25px;
    border: none;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    position: absolute;


}

.activation_success {
    position: absolute;

    top: 40%;
    text-align: center;
}

.warning-alert {
    position: fixed;
    bottom: 1%;
    left: 0.5%;
    background-color: rgba(255, 35, 35, 0.7);
    padding: 1rem;
    color: white;
    backdrop-filter: blur(5px);
    border: 1px solid red;
    border-radius: 15px;
    min-width: 20%;
    animation: slide-to-up 0.2s ease-in-out;

}

@keyframes slide-to-up {
    from {
        transform: translateY(150%);
    } to {
          transform: translateY(0);
      }
}


.product-page {
    margin: 3% auto 0 ;
}

.product_cont {
    display: flex;
    justify-content: space-between;
    max-width: 1100px;
    align-content: center;
    margin: 0 auto 75px;
}

.product_info {
    max-width: 422px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.product-name {
    font-family: 'Arimo';
    font-style: normal;
    font-weight: 700;
    font-size: 54px;
    line-height: 62px;
    color: #000000;
    margin-bottom: 26px;
}

.product-price {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 33px;
    color: #000000;
    flex-grow: 1;
}

.buy-button {
    border: none;
    background-color: black;
    color: #fff;
    padding: 12px 48px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    border-radius: 30px;
    flex-grow: 1;
    max-width: 178px;
    max-height: 52px;
   text-decoration: none;
    color: white !important;
}

.buy-button:hover  {
    background-color: #1e2125 ;
}

.product-image {

}

.product-sidebar {
    max-width: 387px;
}

.sidebar_title {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 49px;
    color: #000000;
    margin-bottom: 20px;
}

.sidebar_subtitle {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
}

.product-description {
    max-width: 1100px;
    margin: 0 auto 0;
}

.description_border {
    max-width: 1100px;
    margin: 0 auto 0;
    border-top: 1px solid #BFBFBF;
}

.description_title {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 49px;
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}

.description_subtitle {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    display: flex;
    align-items: center;
    margin-top: 16px;
    margin-bottom: 80px;
}


.profile {
    display: flex;
    margin: 0% auto 3%;
    justify-content: space-between;
    max-width: 1100px;
}

.profile_tabs {

}

.profile_title {
    margin: 0;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 54px;
    line-height: 74px;
    margin: 0% auto 6%;
    max-width: 1100px;
}

.profile_tab {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 41px;
    margin-bottom: 20px;
}

.profile_tab__active {
    color: #C7357A;
    border-bottom: 2px solid #C7357A ;
}

.profile_info {

}

.profile_info_title {
    margin: 0;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    margin-bottom: 66px;
}

.profile_info_title:nth-child(1) {
    margin-top: 5px;
}

.profile_info_title:last-child {
    margin: 0;
}

.profile_forms {

}

.profile_form {
    max-width: 714px;
    margin-bottom: 50px;
}

.profile_form:last-child {
    margin-bottom: 0;
}

.form_password {

}

.profile_password-button {
    box-sizing: border-box;
    margin-left: 30px;
    border: 1px solid #C7357A;
    border-radius: 10px;
    background-color: #fff;
    height: 42px;
    width: 200px;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: #C7357A;
    cursor: pointer;
    padding: 0;
}

.profile_password-button:hover{
    background-color:#C7357A ;
    color: white;
}

.profile_submit-button {
    width: 230px;
    height: 59px;
    border-radius: 15px;
    border: none;
    background-color: #C7357A;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    padding: 0;
    color: #fff;
    margin-top: 85px;
    margin-left: 65px;
}

.profile_submit-button:hover {
    background-color: #FF0079;
}



.orders {
    display: flex;
    justify-content: space-between;
    margin-right: 254px;
}

.orders_cont {
    margin-right: 48px;
}

.orders_title {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 32px;
    color: #C7357A;
}

.orders_number {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
}

.orders_text {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
}

.orders_img {
    max-height: 165px;
}


/* Общие стили для футера */
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f1f1f1;
    padding: 20px;
}

/* Стили для логотипа */
.footer-logo img {
    width: 100px;
    height: auto;
}

/* Стили для меню */
.footer-menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.footer-menu li {
    margin-right: 20px;
}

.footer-menu li:last-child {
    margin-right: 0;
}

.footer-menu li a {
    color: #333;
    text-decoration: none;
}

.footer-menu li a:hover {
    text-decoration: underline;
}

/* Стили для социальных иконок */
.footer-social a {
    margin-left: 10px;
    color: #333;
    text-decoration: none;
}

.footer-social a:hover {
    color: #000;
}

/* Стили для иконок */
.footer-social i {
    font-size: 100px;
}

